<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Result</title>
</head>
<body>
<h1>Result</h1>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>fullName</th>
            <th>inn</th>
            <th>kpp</th>
            <th>address</th>
            <th>phone</th>
            <th>isActive</th>
        </tr>

        <tr th:object="${organizationView}">
            <td th:utext="*{id}">id</td>
            <td th:utext="*{name}">name</td>
            <td th:utext="*{fullName}">fullName</td>
            <td th:utext="*{inn}">inn</td>
            <td th:utext="*{kpp}">kpp</td>
            <td th:utext="*{address}">address</td>
            <td th:utext="*{phone}">phone</td>
            <td th:utext="*{isActive}">isActive</td>
        </tr>
    </table>
</div>
<div><a th:href="@{/organization}">Back</a></div>
</body>
</html>