<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Organization</title>
</head>
<body>
<h2> Select an action:</h2>
<div><a th:href="@{/organization/getOrg}">Get organizaton</a></div>
<div><a th:href="@{/organization/addOrg}">Add organizaton</a></div>
<div><a th:href="@{/organization/updateOrg}">Update organizaton</a></div>
<div><a th:href="@{/organization/listOrg}"> List of organizaton</a></div>
<br/>
<div><a th:href="@{/index}">Back</a></div>
</body>
</html>
